= render :partial => "mobile_navbar", :layout => "mobile_navbar"

= javascript_include_tag 'mobile'

.list-group
  - @restaurants.each do |r|
    = link_to join_path(r), :class => 'list-group-item', :'restaurant-id' => r.id do
      %h2.list-group-item-heading
        = r.name
      %p.list-group-item-text
        = '(' + r.users.count.to_s + ' diners)'

  = link_to new_restaurant_path, :class => 'list-group-item', :id => 'new-restaurant-item' do
    %h2 Suggest a new restaurant...