<!DOCTYPE html>
%html
  %head
    %title Fellowship
    = stylesheet_link_tag    "application", :media => "all"
    / = stylesheet_link_tag    "sass-bootstrap", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
      %body
        - [:notice, :error, :success].each do |key|
          - unless flash[key].blank?
            - if key == :error
              .alert.alert-error.notice
                %button.close{"data-dismiss" => "alert"} ×
                = flash[key]
            - elsif key == :success
              .alert.alert-success.notice
                %button.close{"data-dismiss" => "alert"} ×
                = flash[key]
            - else 
              .alert.alert-info.notice
                %button.close{"data-dismiss" => "alert"} ×
                = flash[key]
        .container
          = yield